<html ng-app>
<head>
      <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js">
  </script>
</head>
<body>
  <form ng-controller="StartUpController">
    <input type="checkbox" ng-model="youChecedIt">
    <p>{{youChecedIt}}</p>

    <br/>
    Starting: <input ng-model="funding.startEstimate">
    <p>Recomendation: {{funding.needed}}</p>
  </form>
  <script>
    function StartUpController($scope) {
        //default values
        $scope.youChecedIt = true;
        $scope.funding = { startEstimate: 0};

        computeNeeded = function(){
            $scope.funding.needed = $scope.funding.startEstimate * 10;
        };

        $scope.$watch("funding.startEstimate", computeNeeded);
        }
  </script>
</body>
</html>
